$background: #F6F6F6;

$button_normal: #0096DA;
$button_hover: #0081BC;
$button_pressed: #015D87;
$button_disabled: #EDEEEF;
$button_font: #FFF;

$radio_normal: #000;
$radio_hover: #22A4DE;
$radio_selected: #222;
$radio_disabled: #EDEEEF;

$tab_active_font: #0096DA;
$tab_active_background: #FFF;
$tab_inactive_font: #9EA3B6;
$tab_inactive_background: #EDEEEF;
$tab_hover_font: #0096DA;
$tab_content_background: #FFF;

$input_field_placeholder: #B8BED8;
$input_field_border: 1px solid #B8BED8;
$input_field_focus: #8288A2;
$input_field_invalid: #FF1E38;
$input_field_disabled: #EDEEEF;

$accordion_background: #fff;
$accordion_border: #DADEF0;
$accordion_opened_font_color: #66C0E8;
$accordion_closed_font_color: #9B9FB4;
$accordion_hover_font_color: #119DDC;

